<h1>Hello {{name}}</h1>

<p>
	You have been sent this email because you requested to reset the password to your account on the Pacific National Annual Leave Tool. You can click the link below and follow the instructions to complete the password reset process.
</p>

<ul>
	<li><strong>Name:</strong> {{name}}</li>
	<li><strong>Employee Number:</strong> {{employee_number}}</li>
	<li><strong>Registered At: </strong> {{date}}</li>
</ul>

<a href="{{link}}">click to reset password</a>
