<h1>Hello {{name}}</h1>

<p>This is an email to verify your registration to the Pacific National Annual Leave Estimation tool.</p>
<ul>
	<li><strong>Name:</strong> {{name}}</li>
	<li><strong>Employee Number:</strong> {{employee_number}}</li>
	<li><strong>Registered At: </strong> {{date}}</li>
</ul>

<a href="{{url}}/users/verify/{{token}}">Click here to verify</a>